body {
  background-image:url("Mutanthulk.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: fantasy;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 12%;
  }

h1 {
  color: yellow;
  font-size: 450%;
  font-weight: bold;
  }

h1:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

p {
  color: white;
  font-size: 200%;
  font-weight: bold;
}

p:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  color: brown;
}

a {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

a:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  color: green;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

a:hover, a:active {
  background-color: red;
}
