body {
  background-image:url("Mutant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: fantasy;
  text-align: center;
  margin-top: 8%;
  }

h1 {
  color: yellow;
  font-size: 450%;
  font-weight: bold;
  }

h1:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

p {
  color: white;
  font-size: 200%;
  font-weight: bold;
}

p:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

a {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

p a:hover {
  -webkit-transform: scale(3);
  transform: scale(3);
  color: green;
}
